<h1>500 - Erreur serveur</h1>
<p>Désolé, un problème est survenu.</p>
<% if (user) { %>
  <a href="/dashboard">Retour au tableau de bord</a>
<% } else { %>
  <a href="/">Retour à l'accueil</a>
<% } %>